@charset "UTF-8";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

/*/--------------------------------\*\
|*| VARIABLES/MIXINS
\*\--------------------------------/*/

// font color
$fc: #FFF;
$fc-gray: #333;
$fc-red: #F00;
$fc-green: #0F0;
$fc-blue: #00F;
$bg: #000;
$bd: 1px solid $bg + #CCC;
//color
$gray-medium-light: #eaeaea;
// mixin
@mixin setup_font($ft-color, $ft-size, $ft-spacing) {
  color: $ft-color;
  font-size: $ft-size;
  letter-spacing: $ft-spacing;
}

@mixin transition($time) {
  transition: all $time ease-out 0s;
}

@mixin box_sizing {
  box-sizing: border-box;
}


/*/--------------------------------\*\
|*| DEFAULT
\*\--------------------------------/*/

* {
  font-family: 'Source Code Pro';
  @include setup_font($fc-gray, 13px, 0);
  font-weight: light;
}

body {
  padding-top: 48px;
}

a {
  @include transition(0.4s);
  &:hover {
    color: $fc-red;
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

// Homeのリンク
.jumbotron a {
  font-size: 21px;
}


/*/--------------------------------\*\
|*| HEADER
\*\--------------------------------/*/

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
  @include setup_font($fc, 1.7em, 0);
  text-transform: uppercase;
  font-weight: bold;
  @include transition(0.4s);
  &:hover {
    @include setup_font($fc-red, 1.7em, 0);
    font-weight: light;
  }
}


/*/--------------------------------\*\
|*| FOOTER
\*\--------------------------------/*/

footer {
  margin-top: 32px;
  padding-top: 8px;
  border-top: $bd;
  color: $fc-gray;
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 16px;
    }
  }
}


/*/--------------------------------\*\
|*| SIDEBAR
\*\--------------------------------/*/

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/*/--------------------------------\*\
|*| FORMS
\*\--------------------------------/*/

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/*/--------------------------------\*\
|*| MISCELLANEOUS(デバッグ)
\*\--------------------------------/*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
