<% provide(:title, 'About') %>
<h1 class="center"><%= yield(:title) %></h1>
<p>This site is tutorial of Ruby on Rails.</p>
<p>Everyone say 'Ruby is one of the most interesting programing language!'</p>